:root {
    --background-color: rgb(237, 237, 237);
    --text-color: black;
} 

[data-theme="dark"] {
    --background-color: #333;
    --text-color: #fff;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

i {
    transition: transform 1s ease;
}

i:hover {
    transform: rotate(180deg);
}

.validator-icons {
    display: flex;
    gap: 20px;
}

.active-button {
    color: red;
}